<html>

<head>
  <title>About Me</title>
  <link rel="stylesheet" href="/main.css" title="CSS" type="text/css" />
</head>

<body>
  <header>
    <h1>About Me!</h1>
    <a href="/" class="home-link">Home</a>
  </header>
  <main>
    <p>I am a retired Human Resources Manager with the United States 
      Army transitioning to Software Development. I recently graduated from the 
      Front-End Engineering program at Turing School of Software and Design and 
      am currently enrolled in the Back-End Engineering program with an 
      anticipated graduation in March 2019.</p>
    <p>I am a dedicated, results-driven leader with proven success in process 
      planning and implementation seeking a career as a full-stack software 
      developer. I am analytical problem-solver with an emphasis on quality and 
      a can-do attitude known for building high performing teams and 
      accomplishing goals in a fast-paced, deadline-driven environment.</p>
    <p>I am eager to leverage my front- and back-end development skills to 
      develop comprehensive software solutions for a leading-edge company.</p>
  </main>
</body>

</html>